/* styles/general.css */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

#BotonMenu {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar {
    position: fixed; 
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    color: white;
    overflow-x: hidden;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
}

.sidebar.open {
    left: 0; /* Desplaza el menú a la vista */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s; /* Añadir transición suave para el margen izquierdo */
    padding: 16px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}